$menuBackColor: #151e24;
$homeButtonFontColor: #dec0c1;
$footerColor: #151515;
$textColor: #bababa;

*{
	margin:0 ;
	padding: 0;
	font-family: arial;
}

body
{
	font-size: 16px;
}

.width100
{
	width: 100%;
}

.widthInitial
{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.width600
{
	width: 600px;
	float: left;
}

.width340
{
	width: 340px;
	float: left;
}

.clear
{
	width: 100%;
	clear: both;
}