@media screen and (max-width: 940px)
{
	.widthInitial
	{
		width: 100%;
	}
	img 
	{
		width: 100%;
	}
	footer .leftBox
	{
		width: 75%;
	}
}

@media screen and (max-width: 800px)
{
	.log 
	{
		transform: scale(0.5);
		top: -50px;
		left: -120px;
	}
	div.headerWrapper header
	{
		height: 113px;
	}
	div.mainWrapper main img 
	{
		top:0;
	}
}

@media screen and (max-width: 700px)
{
	.log 
	{
		transform: scale(0.3);
		top: -67px;
		left: -190px;
	}
	.mainWrapper main div.buttonWrapper
	{
		flex-direction: column;
		align-items: center;
		top:0;

		.bigButton
		{
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 600px)
{
	.blog .leftBox
	{
		width: 100%;
	}
	.products .item
	{
		width: 50%;
	}
}

@media screen and (max-width: 500px)
{
	.log
	{
		display: none;
	}
}

@media screen and (max-width: 400px)
{
	.headerWrapper header nav ul
	{
		width: 100%;
		justify-content: space-around;
		li a 
		{
			padding-left: 0;
			padding-right: 0;
		}
	}
	footer
	{
		div.leftBox, div.rightBox
		{
			width: 50%;
		}
		.rightBox div.socialWrapper
		{
			width: 100%;
			flex-direction: column;
			box-sizing: border-box;
			
			.social
			{
				margin: 10px 0;
			}
		}
	}
	.products .item
	{
		width: 100%;
	}
}