@import 'def';
@import 'media';

h1{	
	font-size: 1.625em;
	line-height: 40px;
}
body
{
	background: linear-gradient(#383a3a, black);
}

p
{
	font-size: 1em;
	line-height: 28px;
}

h5
{
	font-size: 1.125em;
	line-height: 34px;
}

.headerWrapper
{
	background-image: url('../img/menu1.png');
	background-repeat: repeat-x;
	background-color: $menuBackColor;
	border-bottom: 10px solid #0a0e0f;

	header
	{
		height: 180px;
		overflow: visible;
		
		.log 
		{
			position: absolute;
			z-index: 200;
		}
		nav ul
		{
			list-style: none;
			display: flex;
			float: right;
			z-index: 300;

			a
			{
				text-decoration: none;
				height: 95px;
				line-height: 95px;
				color: #7c8385;
				padding: 40px 21px;
				cursor: pointer;
				font-size: 0.875em;
				position: relative;
				top: 18px;

				&:hover
				{
					background-color: black;
				};
			}
		}
	}

}

.mainWrapper
{
	background-image:  url(../img/body.png);
	background-repeat: repeat-x;
/*	overflow: hidden; */
	main
	{
		img 
		{
			position: relative;
	    	top: -75px;
	    	z-index: 10;
	    	box-shadow: 0 0 5px black;
		}
		.buttonWrapper
		{
			display: flex;
			justify-content: space-around;
			color: $homeButtonFontColor;
			
			.bigButton
			{
				height: 150px;
				width: 280px;
				background: url('../img/bigButton.png');
				text-align: center;
				
				h1
				{
					margin-top: 20px;
				}
			
				button
				{
					background-color: #380c0c;
					width: 130px;
					height: 30px;
					margin-top: 10px;
					border: 0;
					border-radius: 5px;
					border-top: 1px solid #971010;
					color: $homeButtonFontColor;
				}
			}
		}
	}
}

footer
{
	border-radius: 5px;
	background-color: $footerColor;
	color: #6d6d6d;
	display: flex;
	/*padding-bottom: 15px;*/
	margin-top: 180px;
	clear: both;

	h4
	{
		margin-top: 10px;
		color: #e5a704;
		line-height: 40px;
		margin-left: 30px;
	}

	.leftBox
	{
		width: 750px;
		border-right: 3px solid black;
		padding-bottom: 20px;
		padding-right: 20px;

		p 
		{
			margin-left: 30px;
		}
	}

	.rightBox
	{
		width: 200px;

		.socialWrapper
		{
			margin-left: 20px;
		    width: 165px;
		    display: flex;
			justify-content: space-around;
		}
		
		.social
		{
			width: 35px;
			height: 25px;
			cursor: pointer;

			&:hover
			{
				filter: brightness(1.4);
			}
		}

		.social:last-child
		{
			margin-left: 10px;
		}

		.facebook
		{
			background: url(../img/social.png) 0 0;
		}

		.twitter
		{
			background: url(../img/social.png) 70px 0;
		}

		.google
		{
			background: url(../img/social.png) 35px 0; 
		}
	}
}

.copyright
{
	font-size: 0.75em;
	color: #535353;
	text-align: center;
	line-height: 100px;
}

.about
{
	color: $textColor;
	padding: 30px;
	box-sizing: border-box;

	h5
	{
		padding-top: 40px;
	}
}

.blog
{
	color: $textColor;
	.leftBox, .rightBox
	{
		box-sizing: border-box;
		padding: 40px;
	}
	li
	{
		line-height: 28px;
	}
}

.products
{
	.item 
	{
		padding: 40px 20px;
		p 
		{
			text-align: center;
			color: $textColor;
		}
	}
}