<div class="blog widthInitial">
	<div class="leftBox width600">
		<h5>This is just place holder</h5>
		<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, porro. Quos, nisi accusantium pariatur tempore temporibus illo, dolor. Architecto nostrum, dolores harum praesentium voluptatum natus ratione doloremque sint molestias voluptatem?</span>
		<span>Saepe provident iure modi, nemo ducimus voluptatum numquam autem. Amet pariatur, deserunt, aperiam vitae placeat harum nesciunt dolore nihil illum quaerat dicta velit facere esse, tenetur rem accusamus cupiditate asperiores.</span>
		<span>Laboriosam similique quis nulla neque necessitatibus molestias dolorum earum laudantium commodi repellat eaque ipsa tempore consectetur corrupti, aperiam odio, voluptas omnis qui atque suscipit explicabo doloremque quasi magni nisi aspernatur?</span></p>
		<br>
		<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora perferendis nihil beatae nisi pariatur itaque explicabo blanditiis fugiat consequatur. Sequi cupiditate voluptates cumque omnis quasi unde, ut laudantium labore.</span>
		<span>A inventore voluptatem sint dolor, ducimus minima, quaerat quidem unde. Ex officiis quis, dolorem eligendi fugiat fugit dolorum. Aliquid eius autem, aliquam quaerat saepe nisi, alias nobis fugit aspernatur non.</span>
		<span>Error dolor odio iusto ducimus consequatur esse placeat, harum, sed sapiente veniam. Libero omnis, a saepe earum velit quam aspernatur eos illum nulla fugiat officia facilis totam molestias assumenda, ex?</span>
		<span>Unde quaerat quos necessitatibus ut animi delectus consequatur aspernatur eos eligendi minus quis iste nobis veniam rerum tempora.</span></p>
		<br>
		<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos error nam inventore voluptatem in enim, itaque. Quis repellat atque, incidunt tempore modi ratione, autem, sunt quos natus at provident quae.</span>
		<span>Necessitatibus deserunt nesciunt eum aut, dignissimos quam ab impedit voluptatibus officiis asperiores delectus ea quia alias doloribus est. Optio facere illum esse. In expedita ducimus, dicta qui, eveniet ipsum praesentium.</span>
		<span>Eum illum nisi, sint dolorum. <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex aliquam ipsam reprehenderit et. Nemo, atque veritatis ad eum. Voluptatibus minima placeat facilis sapiente earum optio veritatis fugiat tempore, laborum magnam.</span>
		</div>
	<div class="leftBox width340">
		<h5>RECENT POST</h5>
		<ul>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
		</ul>
		<h5>ARCHIWE</h5>
		<ul>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
			<li>This is just a place holder.</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>