<div class="products widthInitial">
	<div class="item width33percent">
		<img src="img/ball.png" alt="">
		<p>This is just place holder.</p>
		<p>$ 0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   buy</p>
	</div>	
	<div class="item width33percent">
		<img src="img/shoes.png" alt="">
		<p>This is just place holder.</p>
		<p>$ 0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   buy</p>
	</div>	
	<div class="item width33percent">
		<img src="img/telescope.png" alt="">
		<p>This is just place holder.</p>
		<p>$ 0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   buy</p>
	</div>
	<div class="item width33percent">
		<img src="img/gadget.png" alt="">
		<p>This is just place holder.</p>
		<p>$ 0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   buy</p>
	</div>
	<div class="item width33percent">
		<img src="img/damble.png" alt="">
		<p>This is just place holder.</p>
		<p>$ 0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   buy</p>
	</div>
	<div class="item width33percent">
		<img src="img/meter.png" alt="">
		<p>This is just place holder.</p>
		<p>$ 0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   buy</p>
	</div>	
	<div class="clear"></div>
</div>